#!/usr/bin/make -f
# -*- makefile -*-
# debian/rules  for inkscape derived from a sample 
# provided by Joey Hess via dh_make.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

%:
	dh $@ --buildsystem cmake \
	      --with bash-completion,python2

# No need for autoreconf in CMake builds
override_dh_autoreconf:

override_dh_auto_configure:
	dh_auto_configure -- \
		-DWITH_DBUS=ON
