/* Minwaita-Inkscape-Dark SPECIFIC STYLE */


/*
 * Keep as small as possible
 */

toolbar toolbutton button:disabled, toolbar toolbutton button:backdrop:disabled, .toolbar toolbutton button:disabled, .toolbar toolbutton button:backdrop:disabled {
    -gtk-icon-effect: dim;
}

scrollbar {
  margin: -1px;
}

filechooser #pathbarbox button {
  color: #eeeeec;
  outline-color: rgba(238, 238, 236, 0.3);
  border-color: #1b1f20;
  border-bottom-color: #0b0c0c;
  background-image: linear-gradient(to bottom, #2e3436, #2a2e30 60%, #25292b);
  text-shadow: 0 -1px rgba(0, 0, 0, 0.827451);
  -gtk-icon-shadow: 0 -1px rgba(0, 0, 0, 0.827451);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.05);
}

filechooser #pathbarbox button:hover {
  color: #eeeeec;
  outline-color: rgba(238, 238, 236, 0.3);
  border-color: #1b1f20;
  border-bottom-color: #0b0c0c;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.779451);
  -gtk-icon-shadow: 0 -1px rgba(0, 0, 0, 0.779451);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.05);
  background-image: linear-gradient(to bottom, #353c3e, #2e3436 60%, #2a2e30);
}

filechooser #pathbarbox button:active {
  color: #eeeeec;
  outline-color: rgba(238, 238, 236, 0.3);
  border-color: #1b1f20;
  background-image: image(#25292b);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0);
  text-shadow: none;
  -gtk-icon-shadow: none;
}

filechooser #pathbarbox button:disabled {
  border-color: #1b1f20;
  background-image: image(#2d3234);
  text-shadow: none;
  -gtk-icon-shadow: none;
  box-shadow: inset 0 1px rgba(255, 255, 255, 0);
}

filechooser #pathbarbox button:disabled label, filechooser #pathbarbox button:disabled {
  color: #f2f2f0;
}

filechooser #pathbarbox button:backdrop {
  border-color: #202425;
  background-image: image(#33393b);
  text-shadow: none;
  -gtk-icon-shadow: none;
  box-shadow: inset 0 1px rgba(255, 255, 255, 0);
}

filechooser #pathbarbox button:backdrop label, filechooser #pathbarbox button:backdrop {
  color: #f2f2f0;
}

filechooser #pathbarbox button:backdrop:disabled {
  border-color: #202425;
  background-image: image(#2d3234);
  text-shadow: none;
  -gtk-icon-shadow: none;
  box-shadow: inset 0 1px rgba(255, 255, 255, 0);
}

filechooser #pathbarbox button:backdrop:disabled label, filechooser #pathbarbox button:backdrop:disabled {
  color: #d1d1cc;
}

treeview.sidebar:selected, placessidebar row:selected, treeview.sidebar:hover:selected, placessidebar row:hover:selected {
  background-color: inherit;
  color: inherit;
}

treeview.sidebar:disabled:selected, placessidebar row:disabled:selected {
  color: inherit;
}

treeview.sidebar:backdrop:selected, placessidebar row:backdrop:selected {
  color: inherit;
}

treeview.sidebar:backdrop:disabled:selected, placessidebar row:backdrop:disabled:selected {
  color: inherit;
}



window.nautilus-desktop-window box.searchbar-container.vertical searchbar, window.nautilus-desktop-window box.searchbar-container.vertical searchbar:backdrop {
  background-color: transparent;
}

viewport.frame list.tweak-categories label:backdrop {
  color: #f2f2f0;
}
.primary-toolbar button.raised {
  margin: 0px;
}

scrolledwindow undershoot.top,scrolledwindow undershoot.bottom,scrolledwindow undershoot.left,scrolledwindow undershoot.right {
    background-image: none;
}


