/* those styles make spin buttons narrow; if enabled in preferences they are applied to all themes */

spinbutton button{
    -gtk-icon-transform:scale(0.6) translatex(-0.6px);
    margin:0 -0.6px 0 0;
    padding:0;
}

spinbutton entry{
    padding:0 0 0 3px;
}
